<header class="header">
  <div class="logo">
    <img src="assets/todo-icon.png" />
    <h1>Flow Factor - Todo</h1>
  </div>

  <nav class="nav">
    <button matButton="filled" (click)="openTeamDialog()">
      <mat-icon>group</mat-icon>
      My Team Members
    </button>

    <div class="github-icon" (click)="openGithubDialog()">
      <img src="assets/github-mark.svg" />
    </div>

    <div [matMenuTriggerFor]="profileMenu" class="profile-icon">
      <mat-icon>account_circle</mat-icon>
    </div>

    <mat-menu #profileMenu="matMenu">
      <div class="menu-content">
        <p>{{ getGreeting() }}</p>
      </div>
    </mat-menu>
  </nav>
</header>
