<main>
  <div class="add-new-container">
    <span>What do we need to do?</span>
    <hr />
    <button matButton="elevated" (click)="openDialog()">Add New</button>
  </div>

  <ng-container *ngIf="store.loading(); else list">
    <p>Loading…</p>
  </ng-container>
  <ng-template #list>
    <app-task-list
      [tasks]="store.tasks()"
      [totalTasks]="store.totalTasks()"
      [pageIndex]="store.currentPage() - 1"
      (pageChange)="store.load($event.page, $event.size)"
      (changeStatus)="onChangeStatus($event.id, $event.status)"
    >
    </app-task-list>
  </ng-template>
</main>
