<section class="section-container">
  <table mat-table [dataSource]="tasks">
    <ng-container matColumnDef="-">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task">
        <ng-container *ngIf="task.status === 'Completed'; else notCompleted">
          <mat-icon class="completed">check_circle_outline</mat-icon>
        </ng-container>
        <ng-template #notCompleted>
          <mat-icon>radio_button_unchecked</mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef>Assignee</th>
      <td mat-cell *matCellDef="let task">{{ task.assignedUser }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let task">
        <span [ngClass]="getStatusStyleClass(task.status)" class="status-chip">
          {{ getStatusLabel(task.status) }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="custom-paginator">
    <mat-icon class="clickable" (click)="goToPage(0)" [class.disabled]="pageIndex === 0">
      first_page
    </mat-icon>
    <mat-icon class="clickable" (click)="prevPage()" [class.disabled]="pageIndex === 0">
      chevron_left
    </mat-icon>

    <ng-container *ngFor="let page of pages">
      <span
        class="clickable page-number"
        (click)="goToPage(page)"
        [class.active]="pageIndex === page"
      >
        {{ page + 1 }}
      </span>
    </ng-container>

    <mat-icon class="clickable" (click)="nextPage()" [class.disabled]="pageIndex >= totalPages - 1">
      chevron_right
    </mat-icon>

    <mat-icon
      class="clickable"
      (click)="goToPage(totalPages - 1)"
      [class.disabled]="pageIndex >= totalPages - 1"
    >
      last_page
    </mat-icon>
  </div>
</section>
